  <h1>Sudz  &#127866</h1>
  <nav>
    <ul>
      <li>
        <a href="/users/login">Login</a>
      </li>
      <li>
        <a href="/users/new">Sign Up</a>
      </li>
      <li>
        <a href="/">Home</a>
      </li>

    </ul>
  </nav>
