<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
<a href="/beers">Back to all beers</a>
<h1>Add to Sudz:</h1>

<form id="beer-form" method="POST" action="/beers">
  <input type="text" name="beer[beer_name]" placeholder="Enter name of beer">
  <input type="text" name="beer[beer_type]" placeholder="Enter type of beer">
  <input type="text" name="beer[beer_image]" placeholder="Enter url for image (optional)">
  <input type="submit" value="add">
</form>

<h1>Your Favorite Sudz: </h1>

<% beers.forEach((each) => { %>
 <div>
    <h2> <%= each.beer_name %> </h2>
    <p> <%= each.beer_type %></p>
    <img src="<%= each.beer_image %>" alt="Beer!">
  </div>
<% }) %>



</body>
</html>
